{% extends 'layout.html' %}

{% block content %}

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>

        <tbody>
            {% for person in people %}
                <tr>
                    <td> {{ person.name }}</td>
                    <td> {{ person.age }}</td>
                    <td>
                        <form action="/people/{{ person._id.toString() }}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}